* {
    /*border: solid 1px #333;*/
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
}

body{
    font-family: 微軟正黑體;
    letter-spacing: 1px;
    margin: 0px;
    background-color: #f4f7f6;
}

.container {
    padding-top: 380px;
    margin: auto;
}

header {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 380px;
    margin: auto;
    text-align: center;
    background-color: #ddd;
}

.header__h1 {
    color: #fff;
    top: 80px;
}

.header__select {
    top: 130px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    border: unset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
}

.content {
    padding: 0px 25px;
}

.content__title {
    text-align: center;
    margin-bottom: 50px;
    
}

.hot-area {
    margin: auto;
    width: 900px;
    border-radius: 5px;
    top: -50px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    padding: 10px 0px 20px 0px;
    text-align: center;
}

.hot-area__a {
    font-size: 18px;
    width: 150px;
    margin: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #999;
    color: #f3f7f7;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.box-area {
    text-align: center;
}

.info-box {
    width: 30%;
    margin: 15px 20px;
    display: inline-block;
    background-color: #fcfcfc;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

.info-box__top {    
    height: 200px;
    overflow:hidden;
    
}

.info-box__img {
    width: 100%;
}

.info-box__view-name {
    color: #fff;
    font-size: 24px;
    top: 150px;  
    left: 25px;  
    float: left;
    position: absolute;
}

.info-box__area-name {
    color: #fff;
    font-size: 18px;
    top: 156px;
    right: 25px;
    float: right;
    position: absolute;
}


.info-box__bottom {
    padding: 20px;
}

.info-box__span {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    text-align: left;
    display: block;
    padding: 3px;
}

.paging {
    text-align: center;
}

.paging__pages {
    display: inline-block;
    margin: 5px;
}

.paging__pages a {
    color: unset;
    padding: 20px;
    line-height: 45px;
}

.paging__pages--active {
    background-color: #333;
    color: #fff;
    border-radius: 100%;
}


footer {
    padding: 20px;
    background-color: #999;
    text-align: center;
}
